#c2{
    margin-top: 150px;
    display:none;
    visibility: hidden;

}
#c3{
    margin-top: 150px;
    display:none;
    visibility: hidden;

}
#c4{
    margin-top: 150px;
    display:none;
    visibility: hidden;

}
#c5{
    margin-top: 150px;
    display:none;
    visibility: hidden;

}
#c1{
   margin-top: 150px;
   
    
}